*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px;
}
header{
    .container{
        .header_navbar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;
            .header_hoome{
                ul{
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    list-style: none;
                    li a{
                        text-decoration: none;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 100%;
                        color: #150C01;
                    }
                    li a:hover{
                        color: #DC780B;
                    }
                }
            }
            button{
                width: 155px;
                height: 46px;
                border-radius: 5px;
                color: #FFFFFF;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                background: #DC780B;
                border: none;
            }
            button:hover{
                border: 1px solid #DC780B;
                background: none;
                color: #DC780B;
            }
        }

        .header_time{
            display: flex;
            align-items: center;
           margin-bottom: 126px;
            .header_stek{
                margin-top: 110px;
                h2{
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 57px;
                    color: #150C01;
                    width: 530px;
                    margin-bottom: 42px;
                }
                P{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #150C01;
                    margin-bottom: 50px;
                }
                .order{
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    .Now{
                        color: white;
                        background: #DC780B;
                        width: 158px;
                        height: 60px;
                        border-radius: 5px;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 100%;
                        border: none;
                    }
                    .Now:hover{
                        background: none;
                        border: 1px solid #DC780B;
                        color: #DC780B;
                    }
                    .Food{
                        border: 1.5px solid #DC780B;
                        border-radius: 5px;
                        width: 170px;
                        height: 60px;
                        color: #DC780B;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 100%;
                        background: white;
                    }
                    .Food:hover{
                        background: #DC780B;
                        border: none;
                        color: #FFFFFF;
                    }
                }
            }

            .stek2{
                img{
                    width: 745px;
                    margin-left: -20px;
                }
            }
        }
    }
}

main{
    .section1{
        .container{
            h3{
                color: #DC780B;
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                text-align: center;
                margin-bottom: 7px;
            }
            h2{
                text-align: center;
                color: #150C01;
                font-weight: 700;
                font-size: 31px;
                line-height: 100%;
                margin-bottom: 44px;
            }
            .section1_cards{
                display: flex;
                align-items: center;
                gap: 90px;
                margin-bottom: 100px;
                .card{
                    width: 300px;
                    height: 230px;
                    .uycha{
                          margin-bottom: 32px;
                          margin-left: 106px;
                        .uy{
                            border-radius: 50px;
                            background: #eaf1ce;
                            width: 88px;
                            height: 88px;
                            position: relative;
                        }
                        img{
                            position: absolute;
                            margin-left: 20px;
                           margin-top: -68px;
                        }
                    }
                    h4{
                        color: #150C01;
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 24px;
                        text-align: center;
                        margin-bottom: 15px;
                    }
                    p{
                        color: #3e3e3e;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                    }
                }

                .card2{
                    width: 300px;
                    height: 230px;
                    .uycha{
                          margin-bottom: 32px;
                          margin-left: 106px;
                        .uy{
                            border-radius: 50px;
                            background: #f6d5ce;
                            width: 88px;
                            height: 88px;
                            position: relative;
                        }
                        img{
                            position: absolute;
                            margin-left: 20px;
                           margin-top: -68px;
                        }
                    }
                    h4{
                        color: #150C01;
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 24px;
                        text-align: center;
                        margin-bottom: 15px;
                    }
                    p{
                        color: #3e3e3e;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                    }
                }

                   .card3{
                    width: 300px;
                    height: 230px;
                    .uycha{
                          margin-bottom: 32px;
                          margin-left: 106px;
                        .uy{
                            border-radius: 50px;
                            background: #f9ddbf;
                            width: 88px;
                            height: 88px;
                            position: relative;
                        }
                        img{
                            position: absolute;
                            margin-left: 18px;
                           margin-top: -68px;
                        }
                    }
                    h4{
                        color: #150C01;
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 24px;
                        text-align: center;
                        margin-bottom: 15px;
                    }
                    p{
                        color: #3e3e3e;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .section2{
        position: relative;
        
        .very{
            position: absolute;
            margin-top: -300px;
          
            width: 579px;
        }
        .container{
            .section2_praduct{
                display: flex;
                align-items: center;
                gap: 97px;
                margin-top: 70px;
                 
                .Group{
                    margin-left: -20px;
                    width: 555px;
                }
                .marketing{
                    width: 488px;
                    .About{
                        color: #DC780B;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                        margin-bottom: 10px;
                    }
                    h2{
                        color: #150C01;
                        font-weight: 700;
                        font-size: 31px;
                        line-height: 40px;
                        margin-bottom: 30px;
                        width: 457px;
                    }
                    .are{
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                        color: #32312f;
                        margin-bottom: 29px;
                    }
                    button{
                        background: #DC780B;
                        color: #FFFFFF;
                        border-radius: 5px;
                        width: 142px;
                        height: 42px;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 100%;
                        border: none;
                    }
                    button:hover{
                        background: white;
                        border: 1px solid #DC780B;
                        color: #DC780B;
                    }
                }
            }
        }
    }
}